.row{
    color:#fff;
}

.row-container{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    margin:0 10px;
}

.row-poster{
    height: 100px;
}

.row-container::-webkit-scrollbar{
    display: none;
}